 body {
	background-color: blue;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

header {
	display: inline-flex;
	height: 100px;
	max-height: 100px;
	width: 100%;
}

.container-first {
	background-color: coral;
	width: 250px;
	max-width: 30%;
	height: inherit;

}

.container-second {
	background-color: violet;
	width: inherit;
	max-width: inherit;
	height: inherit;
}


section {
	display: inline-flex;
	height: 387px;
	max-height: 387px;
	width: 100%;
}

.main-leftbar {
	background-color: orange;
	width: 40%;
	max-width: 40%;
}

.main-rightbar {
	display: inline-grid;
	width: 60%;
	max-width: 60%;
}

.main-rightbar #main-rightbar-topbar {
	background-color: green;
}

.main-rightbar #main-rightbar-lowbar {
	background-color: violet;
}

footer {
	display: inline-flex;
	height: 142px;
	max-height: 142px;
	width: 100%;
}

.footer-first {
	background-color: green;
	width: 1900px;
	width: 40%;
}

.footer-second {
	background-color: blueviolet;
	width: 30%;
}

.footer-third {
	background-color: green;
	width: 30%;
}