<ion-header>
	<ion-toolbar>
		<ion-buttons>
			<ion-menu-button></ion-menu-button>
			<ion-title>Luffy (Captain)</ion-title>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-img src="https://i.pinimg.com/originals/58/91/ab/5891ab463e013ca9ae5f49c1e8a9e1d0.jpg" alt="luffypic1"></ion-img>
				</ion-col>
				<ion-col>
					<ion-img src="https://i.pinimg.com/originals/49/7f/92/497f92d863880110fbeaad3764209e07.jpg" alt="luffypic2"></ion-img>
				</ion-col>
				<ion-col>
					<ion-img src="https://i.pinimg.com/originals/b8/76/80/b87680f834f9dc267f7c514268ceaf84.jpg" alt="luffypic3"></ion-img>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>

	<ion-card>
		<ion-card-header>Statistics</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col>FULL NAME:</ion-col>
					<ion-col>Monkey D. Luffy</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>ORIGIN</ion-col>
					<ion-col>East Blue(Goa Kingdom)</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>AGE:</ion-col>
					<ion-col>19</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>BOUNTY:</ion-col>
					<ion-col>
						<ul>
							<li>3,000,000,000</li>
							<li style="text-decoration:line-through; margin: 0;">1,500,000,000</li>
							<li style="text-decoration:line-through">500,000,000</li>
							<li style="text-decoration:line-through">400,000,000</li>
							<li style="text-decoration:line-through">300,000,000</li>
							<li style="text-decoration:line-through">100,000,000</li>
							<li style="text-decoration:line-through">30,000,000</li>
						</ul>
					</ion-col>
				</ion-row>
			</ion-grid>	
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>Biography</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col class="ion-text-justify">
						<strong>Monkey D. Luffy</strong> also known as <strong>Straw Hat Luffy</strong>, is the 
						main protagonist of the One Piece franchise. He is the captain of
						the Straw Hat Pirates and a Yonko that wants to find the One Piece treasure and become the 
						<strong>King of the Pirates.</strong> 
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col class="ion-text-justify">
						His main aspiration is to become the Pirate King and is searching for the One Piece, a 
						legendary treasure left by the previous Pirate King named Gold Roger. His inspiration comes 
						from a crew of other pirates who used to visit his island when he was a child, the captain of 
						which was "Red-Haired" Shanks. During one of these pirate crew's visits, he accidentally ate 
						the <strong>Gum-Gum Fruit</strong>, a type of Devil Fruit that made his body like rubber.
						The catch to having these powers is an inability to swim: all those who eat a Devil Fruit will
						drown if they fall into the ocean.
					</ion-col>
				</ion-row>
			</ion-grid>



		</ion-card-content>
	</ion-card>



</ion-content>