<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Power & Abilities</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Devil Fruit</ion-card-title>
      <ion-img src="https://static.wikia.nocookie.net/onepiece/images/2/21/Hana_Hana_no_Mi_Infobox.png" alt="robindevilfruit"></ion-img>
    </ion-card-header>

    <ion-card-content>
      Robin ate the Hana Hana no Mi, a Paramecia-type Devil Fruit that allows her to sprout duplicates of 
      any of her body parts from any surface within range.
      <ion-card-header>Robin Techniques</ion-card-header>
      <ion-slides pager="true">
        <ion-slide>
          <ion-img src="https://64.media.tumblr.com/25e7065108920e041a39d22be0916397/tumblr_mpec0dnp4a1rzjajro2_500.gif" alt="Mil Fleur Gigantesco Mano Stomp"></ion-img>
          <ion-title>Mil Fleur Gigantesco Mano Stomp</ion-title>
        </ion-slide>
        
        <ion-slide>
          <ion-img src="https://64.media.tumblr.com/2d2075cc3048db29171ca4912c1d9745/eba80d61504f6bd5-59/s1280x1920/d5bd1a5fa24aa1768ea1a8972a95f5dd1f4e2c1b.gifv" alt="Mil Fleur Gigantesco Mano Spank"></ion-img>
          <ion-title>Mil Fleur Gigantesco Mano Spank</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://thumbs.gfycat.com/IllfatedIncompleteAfricangroundhornbill-size_restricted.gif" alt="Cien Fleur Clutch"></ion-img>
          <ion-title>Cien Fleur Clutch</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://i.makeagif.com/media/8-05-2014/bFhwaN.gif" alt="cien fleur wing"></ion-img>
          <ion-title>Cien Fleur Wing</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://64.media.tumblr.com/11e35d6a917000f15fdae53f6ee81021/tumblr_oc387iY62e1t45pbyo2_500.gifv" alt="Cien Fleur"></ion-img>
          <ion-title>Cien Fleur </ion-title>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>No Haki</ion-card-header>
  </ion-card>
</ion-content>