<ion-header>
	<ion-toolbar>
		<ion-buttons>
			<ion-menu-button></ion-menu-button>
			<ion-title>Chopper (Doctor)</ion-title>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-img src="https://i.pinimg.com/originals/01/cb/93/01cb93670fc2a11d340925578111f507.jpg"
						alt="sanji1"></ion-img>
				</ion-col>
				<ion-col>
					<ion-img src="https://i.pinimg.com/originals/b3/96/ea/b396ea94042c6432ba22c59c22177a56.jpg"
						alt="sanji2"></ion-img>
				</ion-col>
				<ion-col>
					<ion-img src="https://i.pinimg.com/originals/c0/c7/1b/c0c71bcadc86be5ea1c9193e71e3b05a.jpg"
						alt="sanji3"></ion-img>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>

	<ion-card>
		<ion-card-header>Statistics</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col>FULL NAME:</ion-col>
					<ion-col>Tony Tony Chopper</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>ORIGIN:</ion-col>
					<ion-col>Grand Line (Drum Island)</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>AGE:</ion-col>
					<ion-col>17</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>BOUNTY:</ion-col>
					<ion-col>
						<ul>
							<li>1,000</li>
              <li style="text-decoration:line-through">100</li>
              <li style="text-decoration:line-through">50</li>
						</ul>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>Biography</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col>
            <strong>Tony Tony Chopper</strong>, also known as <strong>"Cotton Candy Lover" Chopper</strong>, is the 
            doctor of the Straw Hat Pirates and one of the Senior Officers of the Straw Hat Grand Fleet.

					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col>
						Chopper was originally a reindeer with the slight oddity of a blue nose, which 
						caused other reindeer, even his parents, to treat him as an outcast. He was rescued by the 
						quack Dr. Hiriluk, who named him and took him in as his friend and "assistant". Although 
						his deeds were of dubious medical value, Hiriluk became Chopper's role-model. Hiriluk taught 
						Chopper his philosophy on life (that all diseases could be cured) and his strong faith in the
						 Jolly Roger as a symbol of strength against all odds. 
					</ion-col>
				</ion-row>
			</ion-grid>



		</ion-card-content>
	</ion-card>



</ion-content>