ion-card-header {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

ion-slide {
    display: flex;
    flex-direction: column;
    width: 30vh;
}

#luffydevilfruit {
    height: 30vh;
}

ion-title, ion-text {
    font-size: 14px;
}