<ion-header>
	<ion-toolbar>
		<ion-buttons>
			<ion-menu-button></ion-menu-button>
			<ion-label>Power & Abilities</ion-label>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>Devil Fruit</ion-card-header>
		<ion-img id="bannerpics" src="https://static.wikia.nocookie.net/onepiece/images/0/0a/Luffy_Eating_Devil_Fruit.png" alt="luffydevilfruit"></ion-img>
	
		<ion-card-content>
			After eating the <strong>Gomu Gomu no Mi</strong>, a Paramecia, became a Rubber Man, granting his entire
			build the properties of rubber
			<ion-card-header>Gear Types</ion-card-header>
			<ion-slides pager="true">
				<ion-slide>
					<ion-img src="https://media.tenor.com/9sl24rck_pwAAAAC/luffy-one-piece.gif"
						alt="luffygear2"></ion-img>
					<ion-title>Gear 2</ion-title>
				</ion-slide>
				<ion-slide>
					<ion-img
						src="https://media.tenor.com/fO6m5VwaarAAAAAC/one-piece-luffy.gif"
						alt="luffygear3"></ion-img>
					<ion-title>Gear 3</ion-title>
				</ion-slide>
				<ion-slide>
					<ion-img
						src="https://i.pinimg.com/originals/56/b7/64/56b7642388e52d62910a8806a18e10be.gif"
						alt="luffygear4boundman"></ion-img>
					<ion-title>Gear 4</ion-title>
				</ion-slide>
				<ion-slide>
					<ion-img src="https://media.tenor.com/qOKV5IJmvLoAAAAC/luffy-gear5white.gif" alt="luffygear5"></ion-img>
					<ion-title>Gear 5</ion-title>
				</ion-slide>
			</ion-slides>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>Haki</ion-card-header>
		<ion-card-content>
			<ion-slides pager="true">
				<ion-slide>
					<ion-img src="https://media.tenor.com/YZpKUmxpTGwAAAAC/eu-na.gif" alt="conquerorhaki"></ion-img>
					<ion-title class="ion-margin-bottom">Conqueror's Haki</ion-title>
					<ion-text>Luffy can also use Conqueror's Haki at an advanced level by coating himself with it, 
						significantly increasing the power of his strikes in the process.
						Luffy tapped into the power of advanced Conqueror's Haki and matched
						 the Yonko in battle for quite a long time</ion-text>
				</ion-slide>
				<ion-slide>
					<ion-img src="https://media.tenor.com/1tD_SPMrJuwAAAAC/one-piece-luffy.gif" alt="armamenthaki"></ion-img>
					<ion-title class="ion-margin-bottom">Armament Haki</ion-title>
					<ion-text>His Armament Haki, or Ryou, is strong enough to damage others internally. 
						he learned how to destroy things from the inside with Ryou. In Wano Prisoner Mine.</ion-text>
				</ion-slide>
				<ion-slide>
					<ion-img src="https://thumbs.gfycat.com/AdeptConstantEasteuropeanshepherd-size_restricted.gif" alt="observationhaki"></ion-img>
					<ion-title class="ion-margin-bottom">Observation Haki</ion-title>
					<ion-text>With his Observation Haki, Luffy can see the future itself.  He gained the power to see the future against Katakuri</ion-text>
				</ion-slide>
			</ion-slides>
		</ion-card-content>
	</ion-card>

</ion-content>