<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-label class="ion-text-center">Power & Abilities</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-slides pager="true">
        <ion-slide>
          <ion-card-header>Black Leg Style: Diable Jambe</ion-card-header>
          <ion-img src="https://qph.cf2.quoracdn.net/main-qimg-81fb5e8f00595ea196a5f75135284290-lq"
            alt="Black Leg Style: Diable Jambe"></ion-img>
          <ion-text class="ion-margin-top">
            Diable Jambe is a technique where Sanji heats up his leg, adding extreme heat to the impact of his kicks.
            While doing so, Sanji has the ability to burn his opponents or light them on fire due to the high
            temperature.
          </ion-text>
        </ion-slide>

        <ion-slide>
          <ion-card-header>Raid Suit</ion-card-header>
          <ion-img
            src="https://media.comicbook.com/2020/03/one-piece-sanji-soba-mask-anime-1211278.jpeg?auto=webp&width=1200&height=628&crop=1200:628,smart"
            alt="sanji raid suit"></ion-img>
          <ion-text class="ion-margin-top">
            The suit gives Sanji a black Germa outfit. Its unique ability allows Sanji to blend in perfectly
            with his environment, leaving him invisible to the human eye. This invisibility gives him a great
            advantage in battle, enabling him to land surprise attacks on opponents without them seeing him coming.
          </ion-text>
        </ion-slide>
      </ion-slides>

      <ion-card-header>
        <ion-card-title>Diable Jambe: Techinques</ion-card-title>
      </ion-card-header>
      <ion-slides pager="true">
        <ion-slide>
          <ion-img src="https://steamuserimages-a.akamaihd.net/ugc/877502272333536702/138588205BFBDBB4C8A4E685130463A69C1C32D3/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false"
            alt="Bien Cuit: Grill Shot"></ion-img>
          <ion-title class="ion-margin-top">Bien Cuit: Grill Shot</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://pa1.narvii.com/6799/a2f14fce4557791bb9f48326e4b1a5565d88dfb1_hq.gif"
            alt="Poêle à Frire: Spectre"></ion-img>
          <ion-title class="ion-margin-top">Poêle à Frire: Spectre</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://img.wattpad.com/a5a88dc03a90364b50e2a6827a5a6d16f3b763a1/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f384934374241596c344568497a513d3d2d3933313532343334362e313632383764656665613339306533643331353336323832373930302e676966"
            alt="Collier Strike"></ion-img>
          <ion-title class="ion-margin-top">Collier Strike</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://media.tenor.com/NOzrYk9lkIUAAAAC/sanji-one-piece.gif"
            alt="Party Table Kick Course"></ion-img>
          <ion-title class="ion-margin-top">Party Table Kick Course</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img
            src="https://comicvine.gamespot.com/a/uploads/original/11143/111435496/8007494-doflamingo-dan-sanji-0b5e651df740a08f552965bbb0cbd57f_600x400.jpg"
            alt="Rotisserie Strike"></ion-img>
          <ion-title class="ion-margin-top">Rotisserie Strike</ion-title>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Haki</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-slides>
        <ion-slide>
          <ion-img src="https://qph.cf2.quoracdn.net/main-qimg-9702e33928178086785bffc785165267-lq" alt="Armament Haki"></ion-img>
          <ion-title class="ion-margin-bottom">Armament Haki</ion-title>
          <ion-text class="ion-text-justify">Since he had to defeat all of the followers of Ivankov, he needed the power boost offered 
            by Armament Haki to get the better of them. By the time he arrived at Sabaody Archipelago, Sanji
             was a great user of both Observation and Armament Haki.
          </ion-text>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://lh3.googleusercontent.com/Tk04SQXFasbDcGd4q2sT_FYaKN9CZv8eVBtZH-dTVCL5wCY5Q_uskKgfbJuoRTuN83768uH3HhpFw_etyL2eIuN-2v4ZJ7AGzoBoV60es_SCSb9aIiYf00oBWHQ-NrTsgObpkOmz" alt="Observation Haki"></ion-img>
          <ion-title class="ion-margin-bottom">Observation Haki</ion-title>
          <ion-text class="ion-text-justify">Sanji spent the two-year timeskip under Emporio Ivankov, the commander of the Grand Line
             forces of the Revolutionary Army. While training with him, Sanji likely tapped into the power
              of Observation Haki, which he then went on to specialize in.
          </ion-text>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

</ion-content>