<ion-header>
	<ion-toolbar>
		<ion-buttons>
			<ion-menu-button></ion-menu-button>
			<ion-title>Sanji (Cook)</ion-title>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-img src="https://i.pinimg.com/originals/8a/dc/81/8adc815c71be2cdba3ad9e94c438cb8c.jpg"
						alt="sanji1"></ion-img>
				</ion-col>
				<ion-col>
					<ion-img src="https://i.pinimg.com/originals/0d/0d/07/0d0d07f100bec710b89562d9faae2099.jpg"
						alt="sanji2"></ion-img>
				</ion-col>
				<ion-col>
					<ion-img src="https://i.pinimg.com/originals/3b/ad/af/3badaf5af94c1b0fa6b503ed0b89c142.jpg"
						alt="sanji3"></ion-img>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>

	<ion-card>
		<ion-card-header>Statistics</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col>FULL NAME:</ion-col>
					<ion-col>Sanji</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>ORIGIN:</ion-col>
					<ion-col>North Blue</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>AGE:</ion-col>
					<ion-col>21</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>BOUNTY:</ion-col>
					<ion-col>
						<ul>
							<li>1,032,000,000</li>
							<li style="text-decoration:line-through">330,000,000</li>
							<li style="text-decoration:line-through">177,000,000(Only Alive)</li>
              <li style="text-decoration:line-through">30,000,000</li>
              <li style="text-decoration:line-through">77,000,000</li>
						</ul>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>Biography</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col class="ion-text-justify">
           <strong>"Black Leg" Sanji</strong>, born as Vinsmoke Sanji is the cook of the Straw Hat Pirates and one of
            the Senior Officers of the Straw Hat Grand Fleet. He is the fifth member of the crew and the fourth to join,
             doing so at the end of the Baratie Arc.
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col class="ion-text-justify">
						Sanji was born in the North Blue into the Vinsmoke Family, the reigning royal family of the
             Germa Kingdom, along with his three brothers on the same day, with Sanji being the third son of
              the family, thereby making him the kingdom's third prince. Sanji's father, Vinsmoke Judge, 
              planned to genetically enhance all of them before birth to make them have superhuman abilities and
               no emotions, and thus turn them into perfect soldiers in the future.
					</ion-col>
				</ion-row>

        <ion-row>
					<ion-col class="ion-text-justify">
						Two years after he left the Vinsmoke Family, a ten year-old Sanji was working as a ship's cook on the 
            Orbit. One day, "Red Leg" Zeff, a pirate, and his crew, attacked the ship. However, both ships were 
            caught in a sudden storm and sank. Zeff managed to save the young Sanji from drowning. Before the storm
             tore the boats apart, Sanji had cried out his dream to find the All Blue, which was why he was saved by 
             Zeff afterwards. After the storm, the two were washed onto a rock outcropping, high above the sea.
					</ion-col>
				</ion-row>
			</ion-grid>



		</ion-card-content>
	</ion-card>



</ion-content>