<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Powers & Abilities</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-margin-bottom">BF37/Armored Me</ion-card-title>
      <ion-img
        src="https://static.wikia.nocookie.net/onepiece/images/6/67/BF-37_Infobox.png"
        alt="frankybf37/armoredme"></ion-img>
    </ion-card-header>

    <ion-card-content>
      Franky rebuilt and upgraded his body into a second configuration which he dubbed BF-37 or "Armored Me".
      Several times larger and has more conventional cyborg parts.

      <ion-card-header>Techniques</ion-card-header>
      <ion-slides pager="true">
        <ion-slide>
          <ion-img src="https://media.tenor.com/ZQjFQjIUP5EAAAAd/franky.gif" alt="Strong Right"></ion-img>
          <ion-title class="ion-margin-top">Strong Right</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://thumbs.gfycat.com/MintyHardEmeraldtreeskink-size_restricted.gif"
            alt="Franky Radical Beam"></ion-img>
          <ion-title class="ion-margin-top">Franky Radical Beam</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://media.tenor.com/3FIwkQkDfWkAAAAd/buffalo-baby5.gif" alt="Weapons Left"></ion-img>
          <ion-title class="ion-margin-top">Weapons Left</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://media.tenor.com/18qlEd_vsKUAAAAC/franky.gif" alt="Franky Southland Suplex"></ion-img>
          <ion-title class="ion-margin-top">Franky Southland Suplex</ion-title>      
        </ion-slide>
        <ion-slide>
          <ion-img src="https://static.wikia.nocookie.net/onepiece/images/9/9f/Franky_Iron_Boxing.png" alt="Franky Iron Boxing"></ion-img>
          <ion-title class="ion-margin-top">Franky Iron Boxing</ion-title>
        </ion-slide>
      </ion-slides>

      <ion-card>
        <ion-card-header>No Haki</ion-card-header>
      </ion-card>
      <ion-card-header>Hair Styles</ion-card-header>
       <!--Row 1-->
      <ion-grid >
        <ion-row>
          <ion-col>
            <ion-img src="https://static.wikia.nocookie.net/onepiece/images/5/51/Franky_Standard_Post_Timeskip_Hair.png " alt="hairstyle"></ion-img>
          </ion-col>
          <ion-col>
             <ion-img src="https://static.wikia.nocookie.net/onepiece/images/2/23/Pointy_hair.png" alt="hairstyle"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img src="https://static.wikia.nocookie.net/onepiece/images/4/46/Franky_BF-37_original_hair.png" alt="hairstyle"></ion-img>
          </ion-col>
        </ion-row>
        <!--Row 2-->
        <ion-row>
          <ion-col>
            <ion-img src="https://static.wikia.nocookie.net/onepiece/images/a/ab/Franky%27s_Mohawk_Hair.png" alt="hairstyle"></ion-img>
          </ion-col>
          <ion-col>
             <ion-img src="https://static.wikia.nocookie.net/onepiece/images/a/a0/Franky_Afro.png" alt="hairstyle"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img src="https://static.wikia.nocookie.net/onepiece/images/b/b2/Franky%27s_Insect_Jaws_Hairstyle.png" alt="hairstyle"></ion-img>
          </ion-col>
        </ion-row>
        <!--Row 3-->
        <ion-row>
          <ion-col>
            <ion-img src="https://static.wikia.nocookie.net/onepiece/images/c/c9/Franky_Hair_Eye_Style.png" alt="hairstyle"></ion-img>
          </ion-col>
          <ion-col>
             <ion-img src="https://static.wikia.nocookie.net/onepiece/images/6/6a/Franky%27s_Bear_Hair.png" alt="hairstyle"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img src="https://static.wikia.nocookie.net/onepiece/images/d/d9/Franky_Braided_Hair.png" alt="hairstyle"></ion-img>
          </ion-col>
        </ion-row>
        <!--Row 4-->
        <ion-row>
          <ion-col>
            <ion-img src="https://static.wikia.nocookie.net/onepiece/images/0/05/Franky_Gun_Hair.png" alt="hairstyle"></ion-img>
          </ion-col>
          <ion-col>
             <ion-img src="https://static.wikia.nocookie.net/onepiece/images/3/37/Franky_Spike_Hair.png" alt="hairstyle"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img src="https://static.wikia.nocookie.net/onepiece/images/b/b6/Franky_Half_Hair.png" alt="hairstyle"></ion-img>
          </ion-col>
        </ion-row>
        <!--Row 5-->
        <ion-row>
          <ion-col>
            <ion-img src="https://static.wikia.nocookie.net/onepiece/images/c/c2/Franky_Whale_Hair.png" alt="hairstyle"></ion-img>
          </ion-col>
          <ion-col>
             <ion-img src="https://static.wikia.nocookie.net/onepiece/images/d/de/Franky_Beasts_Pirates_Hair.png" alt="hairstyle"></ion-img>
          </ion-col>
          <ion-col>
            <ion-img src="https://static.wikia.nocookie.net/onepiece/images/7/74/Franky_Flat_Top_Hair.png" alt="hairstyle"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>


  </ion-card>

</ion-content>