<ion-header>
	<ion-toolbar>
		<ion-buttons>
			<ion-menu-button></ion-menu-button>
			<ion-title>Franky (ShipWright)</ion-title>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-img src="https://i.pinimg.com/236x/91/b5/5f/91b55f7d20f57ebadf75f3c9d7190053.jpg"
						alt="franky1"></ion-img>
				</ion-col>
				<ion-col>
					<ion-img src="https://i.pinimg.com/originals/40/f2/6f/40f26f554c3912295f02b9e6f11fcdbe.jpg"
						alt="franky2"></ion-img>
				</ion-col>
				<ion-col>
					<ion-img src="https://i.pinimg.com/originals/07/fb/1a/07fb1a39f12ea631f70f0517cebca2ff.jpg"
						alt="franky3"></ion-img>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>

	<ion-card>
		<ion-card-header>Statistics</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col>FULL NAME:</ion-col>
					<ion-col>Franky</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>ORIGIN:</ion-col>
					<ion-col>South Blue</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>AGE:</ion-col>
					<ion-col>36</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>BOUNTY:</ion-col>
					<ion-col>
						<ul>
							<li>394,000,000</li>
							<li style="text-decoration:line-through">94,000,000</li>
							<li style="text-decoration:line-through">44,000,000</li>
						</ul>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>Biography</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col class="ion-text-justify">
            <strong>"Iron Man" Franky</strong> is the shipwright of the Straw Hat Pirates and one of the Senior Officers 
            of the Straw Hat Grand Fleet.
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col class="ion-text-justify">
						When he was young, his parents, who were pirates, threw him off their ship into the ocean.
             He was then rescued by the legendary shipwright Tom, who made Cutty Flam his apprentice after seeing 
             the boy make a cannon out of scrap that was lying about. Tom's other apprentice, Iceburg then
              gave Cutty Flam the nickname "Franky" because "Cutty Flam is a weird name". Franky learned shipbuilding
               from Tom, but he spent most of his time constructing warships designed to hunt and defeat Sea Kings, 
               each one named "Battle Franky" with a number corresponding to the order of construction. He once 
               proclaimed he would make his own dream ship with him as the shipwright, to which Tom said that if 
               he could do that, he would definitely surpass him.
					</ion-col>
				</ion-row>

			</ion-grid>

		</ion-card-content>
	</ion-card>

</ion-content>