<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons>
			<ion-menu-button></ion-menu-button>
			<ion-label>One Piece</ion-label>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card color="warning">

		<ion-card-content class="ion-text-justify">
			<ion-img src="https://static.wikia.nocookie.net/onepiece/images/8/87/Straw_Hat_Pirates%27_Jolly_Roger.png"
				alt="Jolly Roger"></ion-img>
			<ion-title>Jolly Roger</ion-title>
			The Jolly Roger emblem is a cartoon-like depiction of traditional skull and crossbones,
			with the skull wearing Luffy's trademark straw hat. Due to Luffy's morbid drawing skills, Usopp
			was the one who drew the flag
		</ion-card-content>

		<ion-card-content class="ion-text-justify">
			<ion-img src="https://static.wikia.nocookie.net/onepiece/images/f/f7/Luffy_and_His_Crew.png"
				alt="Straw Hat Pirates"></ion-img>
			<ion-title> Straw Hat Pirates</ion-title>
			The Straw Hat Pirates, also known as the Mugiwara Pirates, Straw Hat Crew or simply the Straw Hats,
			are an infamous and powerful pirate crew that originated from the East Blue. They are the main focus
			and protagonists of the manga and anime One Piece and are led by the main protagonist Monkey D. Luffy.






			<ion-card-header>
				<ion-card-title>Bounty Posters & Dreams</ion-card-title>
			</ion-card-header>
			<ion-slides pager="true"> 
				<ion-slide>
					<ion-img
						src="https://static.wikia.nocookie.net/onepiece/images/1/17/Monkey_D._Luffy%27s_Seventh_Wanted_Poster.png"
						alt="luffy"></ion-img>
						<ion-text>Luffy: To be the Pirate King</ion-text>
				</ion-slide>
				<ion-slide>
					<ion-img
						src="https://static.wikia.nocookie.net/onepiece/images/5/5d/Roronoa_Zoro%27s_Current_Wanted_Poster.png"
						alt="zoro"></ion-img>
						<ion-text>Zoro: To be the Strongest Swordsman</ion-text>
				</ion-slide>
				<ion-slide>
					<ion-img
						src="https://static.wikia.nocookie.net/onepiece/images/3/3b/Nami%27s_Current_Wanted_Poster.png"
						alt="nami"></ion-img>
						<ion-text>Nami: Draw the World Map</ion-text>
				</ion-slide>
				<ion-slide>
					<ion-img
						src="https://static.wikia.nocookie.net/onepiece/images/5/5e/God_Usopp%27s_Wanted_Poster.png"
						alt="usopp"></ion-img>
						<ion-text>Usopp: To be the Bravest Warrior</ion-text>
				</ion-slide>
				<ion-slide>
					<ion-img
						src="https://static.wikia.nocookie.net/onepiece/images/c/ca/Sanji%27s_Current_Wanted_Poster.png"
						alt="sanji"></ion-img>
						<ion-text>Sanji: See the All blue</ion-text>
				</ion-slide>
				<ion-slide>
					<ion-img
						src="https://static.wikia.nocookie.net/onepiece/images/7/75/Tony_Tony_Chopper%27s_Current_Wanted_Poster.png"
						alt="chopper"></ion-img>
						<ion-text>Chopper: To be the Greatest Doctor</ion-text>
				</ion-slide>
				<ion-slide>
					<ion-img
						src="https://static.wikia.nocookie.net/onepiece/images/b/b8/Nico_Robin%27s_Current_Wanted_Poster.png"
						alt="robin"></ion-img>
						<ion-text>Robin: Learn Void Century</ion-text>
				</ion-slide>
				<ion-slide>
					<ion-img
						src="https://static.wikia.nocookie.net/onepiece/images/e/e0/Cyborg_Franky%27s_Wanted_Poster.png"
						alt="franky"></ion-img>
						<ion-text>Franky: To be the greatest shipwright</ion-text>
				</ion-slide>
				<ion-slide>
					<ion-img
						src="https://static.wikia.nocookie.net/onepiece/images/0/09/Brook%27s_Concert_Wanted_Poster.png"
						alt="brook"></ion-img>
						<ion-text>Brook: Is to return to Laboon</ion-text>
				</ion-slide>
				<ion-slide>
					<ion-img
						src="https://static.wikia.nocookie.net/onepiece/images/7/71/Jinbe%27s_Current_Wanted_Poster.png"
						alt="jinbei"></ion-img>
						<ion-text>Jinbei: Coexistence of humans and undersea dwellers</ion-text>
				</ion-slide>
			</ion-slides>
		</ion-card-content>

		<ion-card-content class="ion-text-justify">
			<ion-img
				src="https://static1.cbrimages.com/wordpress/wp-content/uploads/2019/12/Thousand-Sunny-Featured.jpg"
				alt="Thousand Sunny"></ion-img>
			<ion-title>Thousand Sunny</ion-title>
			The Thousand Sunny is the second ship of the Straw Hat Pirates, built afThe Thousand Sunny is the second
			ship of the Straw Hat Pirates, built after the Going Merry was destroyed. It is often referred to as Sunny
			(サニー Sanī?) by the crew.ter the Going Merry was destroyed. It is often referred to as Sunny (サニー Sanī?)
			by the crew.
		</ion-card-content>
	</ion-card>


</ion-content>