<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Powers & Abilities</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-slides pager="true">
        <ion-slide>
          <ion-img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyfE2HgsZe3HfqnUWRp6B415Ma5j6QlES8OKJuSzye9e5sfOFv8rBeoFkkzDKw3g7Cyb4&usqp=CAU"
            alt="fishman karate"></ion-img>
          <ion-title>Fish-Man Karate</ion-title>
          <ion-text class="ion-margin-top">
            Fish-Man Karate has a number of devastating underwater moves designed to suit the enhanced strength and
            speed that Fish-Man possess while in their natural environment.
          </ion-text>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://static.wikia.nocookie.net/onepiece/images/2/22/Fish-Man_Jujutsu_Infobox.png"
            alt="fishman jujutsu"></ion-img>
          <ion-title>Fish-Man Jujutsu</ion-title>
          <ion-text class="ion-margin-top">
            Fish-Man Jujutsu is a martial art that is practiced by the Fish-Man race, alongside Fish-Man Karate. It is a
            style that revolves around grappling and throw techniques.
          </ion-text>
        </ion-slide>
      </ion-slides>

      <ion-card-header>Fish-Man Karate Techniques</ion-card-header>
      <ion-slides pager="true">
        <ion-slide>
          <ion-img src="https://pa1.narvii.com/6471/9d0dff600b1f068e8264d6f2b93114620a7a7bb9_hq.gif"
            alt="Fish-Man Karate: Shark Brick Fist"></ion-img>
          <ion-title>Fish-Man Karate: Shark Brick Fist</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://static.wikia.nocookie.net/onepiece/images/6/6b/Karakusagawara_Seiken.gif"
            alt="Karakusagawara Seiken"></ion-img>
          <ion-title>Karakusagawara Seiken</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://pa1.narvii.com/6708/f7448dc1ebbafeb6358d259ea5fb8eb978980da9_hq.gif"
            alt="Gosenmaigawara Seiken"></ion-img>
          <ion-title>Gosenmaigawara Seiken</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://pa1.narvii.com/6708/34262be4d9d8776b5a5b0b073374450b30eecbcf_hq.gif"
            alt="Samegawara Seiken"></ion-img>
          <ion-title>Samegawara Seiken</ion-title>
        </ion-slide>
      </ion-slides>

      <ion-card-header>Fish-Man Jujutsu Techniques</ion-card-header>
      <ion-slides>
        <ion-slide>
          <ion-img src="https://pa1.narvii.com/6471/b4c16f9645dec31dda45b9e3133f65c0c2db8e4e_hq.gif"
            alt="Fish-Man Jiu-Jitsu: Low Tide Shoulder Throw"></ion-img>
          <ion-text>Fish-Man Jiu-Jitsu: Low Tide Shoulder Throw</ion-text>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://pa1.narvii.com/6708/046e5fc4dd0350f3fee71e0facb68e8cd52e7cf4_hq.gif"
            alt="Ocean Current Shoulder Throw"></ion-img>
          <ion-text>Ocean Current Shoulder Throw</ion-text>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Haki</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="https://static.wikia.nocookie.net/onepiece/images/3/33/Kairagi.png" alt=">Armament Haki"></ion-img>
      <ion-title>Armament Haki</ion-title>
    </ion-card-content>
  </ion-card>

</ion-content>