<ion-header>
	<ion-toolbar>
		<ion-buttons>
			<ion-menu-button></ion-menu-button>
			<ion-title>Developers</ion-title>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../assets/deniellepic.jpg" alt="deniellepic"></ion-img>
    <ion-card-header>
      <ion-card-title>Denielle Mar M. De Guzman</ion-card-title>
    </ion-card-header>
    <a href="https://www.facebook.com/DenielleMar03" target="_blank">
      <ion-button><ion-icon name="logo-facebook"></ion-icon>FB</ion-button>
    </a>
  </ion-card>

  <ion-card>
    <ion-img src="../../assets/jlpic.jpg" alt="jlpic"></ion-img>
    <ion-card-header>
      <ion-card-title>JL Delos Santos</ion-card-title>
    </ion-card-header>
    <a href="https://www.facebook.com/jl.delossantos.7355" target="_blank">
      <ion-button><ion-icon name="logo-facebook"></ion-icon>FB</ion-button>
    </a>
  </ion-card>

  <ion-card>
    <ion-img src="../../assets/yvannepic.jpg" alt="yvannepic"></ion-img>
    <ion-card-header>
      <ion-card-title>Yvanne Christian Lustre</ion-card-title>
    </ion-card-header>
    <a href="https://www.facebook.com/SpringTrap0510" target="_blank">
      <ion-button><ion-icon name="logo-facebook"></ion-icon>FB</ion-button>
    </a>
  </ion-card>

  <ion-card>
    <ion-img src="../../assets/image2.jpg" alt="ralphpic"></ion-img>
    <ion-card-header>
      <ion-card-title>Ralph Kevin Ferrer Ara</ion-card-title>
    </ion-card-header>
    <a href="https://www.facebook.com/ralphkevin.ferrerara" target="_blank">
      <ion-button><ion-icon name="logo-facebook"></ion-icon>FB</ion-button>
    </a>
  </ion-card>
</ion-content>
