<ion-header>
	<ion-toolbar>
		<ion-buttons>
			<ion-menu-button></ion-menu-button>
			<ion-title>Nami (Navigator)</ion-title>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-img src="https://i.pinimg.com/originals/75/6b/f6/756bf60952bbb1d24f48cfcb9d9c18c1.jpg"
						alt="nami1"></ion-img>
				</ion-col>
				<ion-col>
					<ion-img src="https://i.pinimg.com/originals/08/f3/0b/08f30b78404f3d69eb8d7d6cd7cc3949.jpg"
						alt="nami2"></ion-img>
				</ion-col>
				<ion-col>
					<ion-img src="https://i.pinimg.com/originals/ee/37/c1/ee37c1e6e2a06b4651de1516a362fe6c.png"
						alt="nami3"></ion-img>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>

	<ion-card>
		<ion-card-header>Statistics</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col>FULL NAME:</ion-col>
					<ion-col>Nami</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>ORIGIN:</ion-col>
					<ion-col>East Blue (Conomi Islands)</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>AGE:</ion-col>
					<ion-col>20</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>BOUNTY:</ion-col>
					<ion-col>
						<ul>
							<li>366,000,000</li>
							<li style="text-decoration:line-through">66,000,000</li>
							<li style="text-decoration:line-through">16,000,000</li>
						</ul>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>Biography</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col>
						Nami is an orphan of war from the Oykot Kingdom. She was found as a baby by a young Nojiko, 
            then shortly after by a heavily-injured Bell-mère, a female Marine, in the aftermath of a
             hostile battlefield. Despite the ruins and bloodshed she was found in, her innocent smile 
             and laughter rang true. Bell-mère took Nami and Nojiko back with her to Cocoyasi Village, 
             where she would then adopt the two children. The three became as close as any real family.
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col>
						As a child, Nami developed a love for drawing maps and navigation and the dream to draw a complete map of the world. 
            But Nami could not afford the navigation books, leading her to often steal them from the village bookshop.
             One day, Bell-mère scolded Nami when she got caught stealing. However, she applauded Nami's first drawing 
             of the island as the first step of her dream and put faith into Nami that she really could do it.
					</ion-col>
				</ion-row>
			</ion-grid>



		</ion-card-content>
	</ion-card>



</ion-content>