<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Power & Abilities</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
      <ion-card-title>Devil Fruit</ion-card-title>
    </ion-card-header>
    <ion-img src="https://ih1.redbubble.net/image.1665214657.3425/st,small,507x507-pad,600x600,f8f8f8.jpg" alt="chopper devil fruit"></ion-img>
    <ion-card-content>
      Chopper ate the Hito Hito no Mi, a Zoan-type Devil Fruit that allows him to transform into a human 
      and reindeer-human hybrid at will. It also gave him human level intelligence and the ability to speak
       human language.
      <ion-card-header>
        <ion-card-title>Rumble Ball Forms</ion-card-title>
      </ion-card-header>
      <ion-slides pager="true">
        <ion-slide>
          <ion-img src="https://static.wikia.nocookie.net/onepiece/images/a/af/Tony_Tony_Chopper_Anime_Post_Timeskip_Infobox.png" alt="Brain Point"></ion-img> 
          <ion-title>Brain Point</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://static.wikia.nocookie.net/onepiece/images/b/b9/Chopper_Uses_Kung-Fu_Point.png" alt="Kung Fu Point"></ion-img> 
          <ion-title>Kung Fu Point</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://static.wikia.nocookie.net/onepiece/images/6/68/Post_Timeskip_Monster_Point.png" alt="Monster Point"></ion-img> 
          <ion-title>Monster Point</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://static.wikia.nocookie.net/onepiece/images/a/aa/Heavy_Point_Post_Timeskip.png" alt="Heavy Point"></ion-img> 
          <ion-title>Heavy Point</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://static.wikia.nocookie.net/onepiece/images/e/e4/Walk_Point_17.png" alt="Walk Point"></ion-img> 
          <ion-title>Walk Point</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img height="4000px" src="https://static.wikia.nocookie.net/onepiece/images/6/6f/Chopper%27s_New_Horn_Point.png" alt="Horn Point"></ion-img> 
          <ion-title>Horn Point</ion-title>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>No Haki</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>