<ion-header>
	<ion-toolbar>
		<ion-buttons>
			<ion-menu-button></ion-menu-button>
			<ion-label>Powers & Abilities</ion-label>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-card-title></ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-img src="https://static.wikia.nocookie.net/onepiece/images/5/59/Soul_Solid_Infobox.png"
				alt="Soul Solid"></ion-img>
			<ion-title>Soul Solid</ion-title>
			<ion-text class="ion-margin-top">
				Soul Solid is the name of Brook's cane sword. Since he only gave the name of the
				sword after the timeskip, it is unknown if his sword always carried this name.
			</ion-text>

			<ion-slides pager="true">
				<ion-slide>
					<ion-img class="ion-margin-top"
						src="https://img.wattpad.com/d1444a9bf5099d029ef9d57740959de02e79d4f6/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f4b574f49574e534e4a62637578513d3d2d3831313730343537322e3135663662666465343233383230346239303630343736343238372e676966"
						alt="Kasuriuta: Fubuki Giri"></ion-img>
					<ion-title>Kasuriuta: Fubuki Giri</ion-title>
				</ion-slide>
				<ion-slide>
					<ion-img
						src="https://orig11.deviantart.net/d3fd/f/2015/299/9/5/pic_08_by_doctorworm1987-d9egnu4.gif"
						alt="Three-Verse Humming: Arrow Notch Slash."></ion-img>
					<ion-title>Three-Verse Humming: Arrow Notch Slash.</ion-title>
				</ion-slide>
				<ion-slide>
					<ion-img src="https://static.wikia.nocookie.net/onepiece/images/d/dc/Nemuriuta_Flanc.gif"
						alt="Nemuriuta Flanc"></ion-img>
					<ion-title>Nemuriuta Flanc</ion-title>
				</ion-slide>
				<ion-slide>
					<ion-img
						src="https://i.imgflip.com/1zmykx.gif"
						alt="Soul King"></ion-img>
					<ion-title>Soul King</ion-title>
				</ion-slide>
				<ion-slide>
					<ion-img
						src="http://pm1.narvii.com/7520/a90285979900f96fd54e95c591a95745afe2d495r1-1921-1080v2_uhq.jpg"
						alt="Soul Parade"></ion-img>
					<ion-title>Soul Parade</ion-title>
				</ion-slide>
				<ion-slide>
					<ion-img
						src="https://gamek.mediacdn.vn/zoom/600_315/133514250583805952/2021/6/23/12-1624433042329412969006.jpg"
						alt="Gavotte Bond en Avant "></ion-img>
					<ion-title>Gavotte Bond en Avant </ion-title>
				</ion-slide>
				<ion-slide>
					<ion-img src="https://static.wikia.nocookie.net/onepiece/images/7/77/Ekakiuta_Hitoyogiri.png"
						alt="Ekakiuta: Hitoyogiri"></ion-img>
					<ion-title>Ekakiuta: Hitoyogiri</ion-title>
				</ion-slide>
			</ion-slides>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>No Haki</ion-card-header>
	</ion-card>
</ion-content>