<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-label>Power & Abilities</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Main Swords</ion-card-header>
    <ion-card-content>
      <ion-slides pager="true">
        <ion-slide>
          <ion-img src="https://sword-collection.fr/1346-medium_default/sabre-wado-ichimonji-epee-de-zoro.jpg"
            alt="wadoichimonji"></ion-img>
          <ion-title class="ion-margin-bottom">Wado Ichimonji</ion-title>
          <ion-text>
            One of the 21 Great Grade Swords. It was forged by Shimotsuki Kozaburo, the same swordsmith who forged Enma.
          </ion-text>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://qph.cf2.quoracdn.net/main-qimg-73f34c8db946e54c8389283347db9666-lq"
            alt="enma"></ion-img>
          <ion-title class="ion-margin-bottom">Enma</ion-title>
          <ion-text>
            One of the 21 Great Great Swords that belonged to the famous samurai and pirate, Kozuki Oden who passed it
            down to his daughter, Hiyori, who gifted it for Zoro in return for Shushi. It is infamous for drawing out
            and draining all the Ryuo (Haki) of its owner. It is the widely known as a sword that can hurt Kaido.
          </ion-text>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://m.media-amazon.com/images/M/MV5BYjBkOWIxY2YtNWE5MS00OWZhLThlYWItNDE0YWE2MWJiNjgzXkEyXkFqcGdeQXVyNjYwMjkwMjg@._V1_.jpg" alt="sandaikitetsu"></ion-img>
          <ion-title class="ion-margin-bottom">Sandai Kitetsu</ion-title>
          <ion-text>
            The Sandai Kitetsu is one of the Grade swords. Like all of its predecessor Kitetsu swords, 
            this one is said to be a "Cursed Sword/Blade". It is one of Kozuki Sukiyaki's creations.
          </ion-text>
        </ion-slide>        
      </ion-slides>

      <ion-card-header>Sword Techniques</ion-card-header>
      <ion-slides pager="true">
        <ion-slide>
          <ion-img src="https://media.tenor.com/IeGBhgpMnz0AAAAC/santoryu.gif" alt="santoryu"></ion-img>
          <ion-title>Santoryu (Three Sword Style)</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://media.tenor.com/eS9fKM_G7_YAAAAC/zoro.gif" alt="nitoryu"></ion-img>
          <ion-title>Nitoryu (Two Sword Style)</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://thumbs.gfycat.com/BlaringSpanishFlatcoatretriever-max-1mb.gif" alt="ittoryu"></ion-img>
          <ion-title>Ittoryu (One Sword Style)</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://pa1.narvii.com/6553/4dca54f25789afdd5d318a5229bd0975e99b2a7f_hq.gif" alt="kyutoryu"></ion-img>
          <ion-title>Kyutoryu (Nine Sword Style)</ion-title>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Haki</ion-card-header>
    <ion-card-content>
      <ion-slides pager="true">
        <ion-slide>
          <ion-img src="https://api.duniagames.co.id/api/content/upload/file/729542731617966580.jpg" alt="coquerorshaki"></ion-img>
          <ion-title class="ion-margin-bottom">Conqueror's Haki</ion-title>
          <ion-text> Zoro managed to use Conqueror's Haki somehow, but he isn't aware of this power dwelling within him yet.</ion-text>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://staticg.sportskeeda.com/editor/2022/10/a8ebf-16654959562566.png" alt="armamenthaki"></ion-img>
          <ion-title class="ion-margin-bottom">Armament Haki</ion-title>
          <ion-text>Roronoa Zoro was trained by Dracule Mihawk, the strongest swordsman in One Piece,
             during the two-year timeskip. The training focused quite a lot on Armament Haki, which 
             is why Zoro's usage of this power is so refined at the moment. He can coat his sword with armament haki
             making it black sword.
          </ion-text>
        </ion-slide>
        <ion-slide>
          <ion-title class="ion-margin-bottom">Observation Haki</ion-title>
          <ion-text>Zoro also managed to learn how to use Observation Haki, although his usage of it isn't nearly as good.</ion-text>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
</ion-content>