<ion-header>
	<ion-toolbar>
		<ion-buttons>
			<ion-menu-button></ion-menu-button>
			<ion-label>Arcs</ion-label>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<!--credits to: https://www.otaquest.com/one-piece-arcs-story-and-filler/-->
<ion-content>	
	<ion-accordion-group [multiple]="true" [value]="['first', 'second']">
		<!--First Half-->
		<ion-accordion value="first">
		  <ion-item slot="header" color="light">
			<ion-label>The First Half</ion-label>
		  </ion-item>
		<div class="ion-padding" slot="content">
				<ion-accordion-group [value]="['content1', 'content2', 'content3', 'content4', 'content5', 'content6']">
					<ion-accordion value="content1">
						<ion-item slot="header" color="light">
						  <ion-label>East Blue Saga</ion-label>
						</ion-item>
						<div class="ion-padding" slot="content">- Romance Dawn Arc <strong>(Ep 1 - Ep 3)</strong></div>
						<div class="ion-padding" slot="content">- Orange Town Arc <strong>(Ep  4- Ep 8)</strong></div>
						<div class="ion-padding" slot="content">- Syrup Village Arc <strong>(Ep 9 - Ep 18)</strong></div>
						<div class="ion-padding" slot="content">- Baratie Arc <strong>(Ep 19 - Ep 30)</strong></div>
						<div class="ion-padding" slot="content">- Arlong Park Arc <strong>(Ep 31 - Ep 44)</strong></div>
						<div class="ion-padding" slot="content">- Loguetown Arc <strong>(Ep 45 - Ep 53)</strong></div>
						<div class="ion-padding" slot="content">- Warship Island Arc <strong>(Ep 54 - Ep 61)</strong></div>
					</ion-accordion>

					<ion-accordion value="content2">
						<ion-item slot="header" color="light">
						  <ion-label>Alabasta Saga</ion-label>
						</ion-item>
						<div class="ion-padding" slot="content">- Reverse Mountain Arc <strong>(Ep 62 - Ep 63)</strong></div>
						<div class="ion-padding" slot="content">- Whiskey Peak Arc <strong>(Ep  64 - Ep 67)</strong></div>
						<div class="ion-padding" slot="content">- Diary of Koby-Meppo Special Arc <strong>(Ep 68 - Ep 69)</strong></div>
						<div class="ion-padding" slot="content">- Little Garden Arc <strong>(Ep 70 - Ep 77)</strong></div>
						<div class="ion-padding" slot="content">- Drum Island Arc <strong>(Ep 78 - Ep 91)</strong></div>
						<div class="ion-padding" slot="content">- Alabasta Arc <strong>(Ep 92 - Ep 130)</strong></div>
						<div class="ion-padding" slot="content">- Post-Alabasta Arc <strong>(Ep 131 - Ep 135)</strong></div>
					</ion-accordion>

					<ion-accordion value="content3">
						<ion-item slot="header" color="light">
						  <ion-label>Sky Island Saga</ion-label>
						</ion-item>
						<div class="ion-padding" slot="content">- Goat Island Arc <strong>(Ep 136 - Ep 138)</strong></div>
						<div class="ion-padding" slot="content">- Ruluka Island Arc <strong>(Ep 139 - Ep 143)</strong></div>
						<div class="ion-padding" slot="content">- Jaya Arc <strong>(Ep 144 - Ep 152)</strong></div>
						<div class="ion-padding" slot="content">- Skypiea Arc <strong>(Ep 153 - Ep 195)</strong></div>
						<div class="ion-padding" slot="content">- G-8 Arc <strong>(Ep 196 - Ep 206)</strong></div>
					</ion-accordion>

					<ion-accordion value="content4">
						<ion-item slot="header" color="light">
						  <ion-label>Water 7 Saga</ion-label>
						</ion-item>
						<div class="ion-padding" slot="content">- Long Ring Long Land Arc <strong>(Ep 207 - Ep 228)</strong></div>
						<div class="ion-padding" slot="content">- Water 7 Arc <strong>(Ep 229 - Ep 263)</strong></div>
						<div class="ion-padding" slot="content">- Enies Lobby Arc <strong>(Ep 264 - Ep 312)</strong></div>
						<div class="ion-padding" slot="content">- Post-Enies Lobby Arc <strong>(Ep 313 - Ep 325)</strong></div>
					</ion-accordion>

					<ion-accordion value="content5">
						<ion-item slot="header" color="light">
						  <ion-label>Thriller Bark Saga</ion-label>
						</ion-item>
						<div class="ion-padding" slot="content">- Ice Hunter Arc <strong>(Ep 326 - Ep 336)</strong></div>
						<div class="ion-padding" slot="content">- Thriller Bark Arc <strong>(Ep 337 - Ep 381)</strong></div>
						<div class="ion-padding" slot="content">- Spa Island Arc <strong>(Ep 382 - Ep 384)</strong></div>
					</ion-accordion>

					<ion-accordion value="content6">
						<ion-item slot="header" color="light">
						  <ion-label>Summit War Saga</ion-label>
						</ion-item>
						<div class="ion-padding" slot="content">- Sabaody Archipelago Arc <strong>(Ep 385 - Ep 405)</strong></div>
						<div class="ion-padding" slot="content">- Amazon Lily Arc <strong>(Ep 408 - Ep 421)</strong></div>
						<div class="ion-padding" slot="content">- Impel Down Arc <strong>(Ep 422 - Ep 452)</strong></div>
						<div class="ion-padding" slot="content">- Marineford Arc <strong>(Ep 457 - Ep 489)</strong></div>
						<div class="ion-padding" slot="content">- Post-War Arc <strong>(Ep 490 - Ep 516)</strong></div>
					</ion-accordion>	
				</ion-accordion-group>
		</div>

		<!--Second Half-->
		</ion-accordion>
		<ion-accordion value="second">
			<ion-item slot="header" color="light">
			  <ion-label>The Second Half</ion-label>
			</ion-item>
			<div class="ion-padding" slot="content">
				<ion-accordion-group [value]="['second1', 'second2', 'second3']">
					<ion-accordion value="second1">
						<ion-item slot="header" color="light">
						  <ion-label>Fish-Man Island Saga</ion-label>
						</ion-item>
						<div class="ion-padding" slot="content">- Return to Sabaody Arc <strong>(Ep 517 - Ep 522)</strong></div>
						<div class="ion-padding" slot="content">- Fish-Man Island Arc <strong>(Ep 523 - Ep 574)</strong></div>
					</ion-accordion>

					<ion-accordion value="second2">
						<ion-item slot="header" color="light">
						  <ion-label>Dressrosa Saga</ion-label>
						</ion-item>
						<div class="ion-padding" slot="content">- Punk Hazard Arc <strong>(Ep 575 - Ep 628)</strong></div>
						<div class="ion-padding" slot="content">- Dressrosa Arc <strong>(Ep 629 - Ep 746)</strong></div>
					</ion-accordion>

					<ion-accordion value="second3">
						<ion-item slot="header" color="light">
						  <ion-label>Four Emperor Saga</ion-label>
						</ion-item>
						<div class="ion-padding" slot="content">- Zou Arc <strong>(Ep 747 - Ep 779)</strong></div>
						<div class="ion-padding" slot="content">- Whole Cake Arc <strong>(Ep 780 - Ep 877)</strong></div>
						<div class="ion-padding" slot="content">- Wano Country Arc <strong>(Ep 878 - Ongoing...)</strong></div>
					</ion-accordion>
				</ion-accordion-group>
			</div>
		  </ion-accordion>
	  </ion-accordion-group>
</ion-content>
