<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Power & Abilities</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="https://imgix.ranker.com/user_node_img/50132/1002632984/original/1002632984-photo-u31043010?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=375" alt="kuro kabuto" ></ion-img>
    <ion-card-header>Kuro Kabuto</ion-card-header>
    <ion-card-content>
      Usopp is an extremely skilled sniper. Since early in the series. He has exceptional marksmanship 
      and is capable of turning slingshots into formidable and terrifying weapons. With his skills used 
      in conjunction with unique ammunition.
      
      <ion-card-header>
        <ion-card-title>Pop Greens</ion-card-title>
        <ion-card-subtitle>(Kuro Kabuto Ammunition)</ion-card-subtitle>
      </ion-card-header>
      <ion-slides pager="true">
        <ion-slide>
          <ion-img src="https://static.wikia.nocookie.net/onepiece/images/4/4f/Midori_Boshi_Devil.png" alt="Midori Boshi: Devil"></ion-img>
          <ion-title>Midori Boshi: Devil</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://static.wikia.nocookie.net/onepiece/images/f/f4/Rafflesia.png" alt="Midori Boshi: Rafflesia"></ion-img>
          <ion-title>Midori Boshi: Rafflesia</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://static.wikia.nocookie.net/onepiece/images/e/ea/Bamboo_javelin.png" alt="Midori Boshi: Take Jave-rin"></ion-img>
          <ion-title>Midori Boshi: Take Jave-rin</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://static.wikia.nocookie.net/onepiece/images/9/9f/Skull_Exploding_Grass.png" alt="Hissatsu Midori Boshi: Dokuro Bakuhatsu So"></ion-img>
          <ion-title>Midori Boshi: Dokuro Bakuhatsu So</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://static.wikia.nocookie.net/onepiece/images/f/fb/Trampolia.png" alt="Midori Boshi: Trampolia"></ion-img>
          <ion-title>Midori Boshi: Trampolia</ion-title>
        </ion-slide>
         <ion-slide>
          <ion-img src="https://static.wikia.nocookie.net/onepiece/images/4/45/Usopp_green_star.PNG" alt="Midori Boshi: Sargasso"></ion-img>
          <ion-title>Midori Boshi: Sargasso</ion-title>
        </ion-slide>
        <ion-slide>
          <ion-img src="https://static.wikia.nocookie.net/onepiece/images/5/57/Humandrake.png" alt="Midori Boshi: Humandrake"></ion-img>
          <ion-title>Midori Boshi: Humandrake</ion-title>
        </ion-slide>
      </ion-slides>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Haki</ion-card-header>
    <ion-card-content>
      <ion-img src="https://i.ytimg.com/vi/EzRjtl3RWXA/maxresdefault.jpg" alt="usoppobservationhaki"></ion-img>
      <ion-title>Observation Haki</ion-title>
      <ion-text>
        Usopp can only use one type of Haki -- Observation. Using this power, Usopp is able to hit his target far
        more efficiently than before, and being a sniper, it is an essential tool for him to have in his arsenal.
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>